Service/Service References/live_StarMFWebServiceLatest/StarMFWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.bsestarmf.in/2016/01/" elementFormDefault="qualified" targetNamespace="http://www.bsestarmf.in/2016/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.bsestarmf.in/StarMFWebService/StarMFWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StarMFWebService" />
  <xs:element name="getPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MemberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MFAPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EncryptedPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MFAPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MFAPIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StarMFWebService" minOccurs="0" name="Param" nillable="true" type="q1:PasswordRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StarMFWebService" minOccurs="0" name="GetPasswordMobileResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MFAPIMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StarMFWebService" minOccurs="0" name="Param" nillable="true" type="q3:MFAPIRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MFAPIMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StarMFWebService" minOccurs="0" name="MFAPIMobileResult" nillable="true" type="q4:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>