Service/Service References/live_StarMFWebServiceLatest/StarMFWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.bsestarmf.in/2016/01/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bsestarmf.in/2016/01/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bsestarmf.in/2016/01/Imports">
      <xsd:import schemaLocation="http://www.bsestarmf.in/StarMFWebService/StarMFWebService.svc?xsd=xsd0" namespace="http://www.bsestarmf.in/2016/01/" />
      <xsd:import schemaLocation="http://www.bsestarmf.in/StarMFWebService/StarMFWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.bsestarmf.in/StarMFWebService/StarMFWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StarMFWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStarMFWebService_getPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:getPassword" />
  </wsdl:message>
  <wsdl:message name="IStarMFWebService_getPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IStarMFWebService_MFAPI_InputMessage">
    <wsdl:part name="parameters" element="tns:MFAPI" />
  </wsdl:message>
  <wsdl:message name="IStarMFWebService_MFAPI_OutputMessage">
    <wsdl:part name="parameters" element="tns:MFAPIResponse" />
  </wsdl:message>
  <wsdl:message name="IStarMFWebService_GetPasswordMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordMobile" />
  </wsdl:message>
  <wsdl:message name="IStarMFWebService_GetPasswordMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IStarMFWebService_MFAPIMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:MFAPIMobile" />
  </wsdl:message>
  <wsdl:message name="IStarMFWebService_MFAPIMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:MFAPIMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IStarMFWebService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IStarMFWebService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IStarMFWebService">
    <wsdl:operation name="getPassword">
      <wsdl:input wsaw:Action="http://www.bsestarmf.in/2016/01/IStarMFWebService/getPassword" message="tns:IStarMFWebService_getPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bsestarmf.in/2016/01/IStarMFWebService/getPasswordResponse" message="tns:IStarMFWebService_getPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MFAPI">
      <wsdl:input wsaw:Action="http://www.bsestarmf.in/2016/01/IStarMFWebService/MFAPI" message="tns:IStarMFWebService_MFAPI_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bsestarmf.in/2016/01/IStarMFWebService/MFAPIResponse" message="tns:IStarMFWebService_MFAPI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPasswordMobile">
      <wsdl:input wsaw:Action="http://www.bsestarmf.in/2016/01/IStarMFWebService/GetPasswordMobile" message="tns:IStarMFWebService_GetPasswordMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bsestarmf.in/2016/01/IStarMFWebService/GetPasswordMobileResponse" message="tns:IStarMFWebService_GetPasswordMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MFAPIMobile">
      <wsdl:input wsaw:Action="http://www.bsestarmf.in/2016/01/IStarMFWebService/MFAPIMobile" message="tns:IStarMFWebService_MFAPIMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bsestarmf.in/2016/01/IStarMFWebService/MFAPIMobileResponse" message="tns:IStarMFWebService_MFAPIMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://www.bsestarmf.in/2016/01/IStarMFWebService/Test" message="tns:IStarMFWebService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bsestarmf.in/2016/01/IStarMFWebService/TestResponse" message="tns:IStarMFWebService_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>