Service/Service References/InvestorfundauploadSrvTest/MFUploadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bsestarmfdemo.bseindia.com/2016/01/" elementFormDefault="qualified" targetNamespace="http://bsestarmfdemo.bseindia.com/2016/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MemberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MFAPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EncryptedPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MFAPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MFAPIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>